[project]
	description = myProject
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/laivi (laivizhu)
[access "refs/for/refs/*"]
	read = group user/laivi (laivizhu)
	push = group user/laivi (laivizhu)
	label-Code-Review = -2..+2 group user/laivi (laivizhu)
	label-Verified = -1..+1 group user/laivi (laivizhu)
	rebase = group user/laivi (laivizhu)
	removeReviewer = group user/laivi (laivizhu)
	submit = group user/laivi (laivizhu)
[access "refs/heads/*"]
	read = group user/laivi (laivizhu)
	create = group user/laivi (laivizhu)
	push = +force group user/laivi (laivizhu)
	pushMerge = group user/laivi (laivizhu)
[access "refs/tags/*"]
	push = +force group user/laivi (laivizhu)
	pushTag = group user/laivi (laivizhu)
	pushSignedTag = group user/laivi (laivizhu)
