<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>

	<listener>
        <listener-class>flex.messaging.HttpFlexSession</listener-class>
    </listener>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
      	<servlet-name>MessageBrokerServlet</servlet-name>
       	<servlet-class>flex.messaging.MessageBrokerServlet</servlet-class>
       	<init-param>
          	<param-name>services.configuration.file</param-name>
          	<param-value>/WEB-INF/flex/services-config.xml</param-value>
      	</init-param>
       	<load-on-startup>1</load-on-startup>
    </servlet>

	<servlet-mapping>
        <servlet-name>MessageBrokerServlet</servlet-name>
        <url-pattern>/messagebroker/*</url-pattern>
    </servlet-mapping>


	<filter>
		<filter-name>openSessionInViewFilter</filter-name>
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
		<init-param>
			<param-name>singleSession</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>openSessionInViewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>FilterChar</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
		  <param-name>encoding</param-name>
		  <param-value>utf-8</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>FilterChar</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>FilterChar</filter-name>
		<url-pattern>*.action</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>LoginSessionCheckFilter</filter-name>
		<filter-class>com.laivi.knowledge.basic.service.LoginSessionCheckFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>LoginSessionCheckFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<session-config>
		<session-timeout>840</session-timeout>
	</session-config>

	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<include-prelude>/WEB-INF/jspf/taglib.jspf</include-prelude>
		</jsp-property-group>
	</jsp-config>

	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
</web-app>
